footer {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    padding: 50px;
    height: 100vh;
}

.footerTileContainer {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.footerTile {
    width: 25%;
    padding: 50px;
    height: 100%;
}

.footerTile:last-of-type {
    text-align: right;
}

.footerTileHeading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    font-weight: 700;
    margin-bottom: 20px;
}

.footerTileInner {
    height: 70%;
}

.footerTileInner-subTile {
    height: 50%;
}

.footerTileInner-comingSoonTile {
    height: 50%;
}

.footerTileInner span {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    margin-bottom: 10px;
}

.footerTileInner_subSpan {
    margin-top: 5px;
}

.footerTileInner ul {
    list-style: none;
}

.footerTile li {
    margin-bottom: 5px;
    text-decoration: none;
    color: var(--darkGrey);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.footerTile li:hover {
    color: var(--gold);
}

.socialWrapper {
    text-align: center;
    width: 100%;
    margin: auto;
}

.socialWrapper-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.footerTileSocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20%;
}

.footerTileSocial a img {
    width: 75px;
    margin: auto 5px;
}

@media screen and (max-width: 1000px) { 
    footer {
        padding: 25px;
        height: 100vh;
    }

    .footerTileContainer {
        height: 80%;
    }

    .footerTile {
        width: 25%;
        padding: 25px;
        height: 100%;
    }
}

@media screen and (min-width: 150px) and (max-width: 999px) { 
    footer {
        padding: 15px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .footerTileContainer {
        flex-direction: column;
        height: 80%;
    }

    .footerTile {
        width: 100%;
        padding: 25px;
        height: 100%;
    }
}