footer {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    padding: 50px;
}

.footerTileContainer {
    display: flex;
    flex-direction: row;
}

.footerTile {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 50px;
}

.footerTile:last-of-type {
    text-align: right;
}

.footerTileHeading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    font-weight: 700;
    margin-bottom: 20px;
}

.footerTileInner {
    margin-bottom: 25px;
}

.footerTileInner span {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    margin-bottom: 10px;
}

.footerTileInner_subSpan {
    margin-top: 25px;
}

.footerTileInner ul {
    list-style: none;
}

.socialWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.footerTileSocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerTileSocial a img {
    width: 75px;
    margin: auto 5px;
}