#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fff;
}

.honor {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 50%;
}

h1 {
    text-align: center;
    font-size: 20pt;
    font-weight: 400;
}

img {
    width: 30vw;
    object-fit: cover;
    margin: 25px auto 25px;
}

.mission {
    font-size: 18pt;
    text-align: center;
    width: 60%;
}

.line {
    background-color: black;
    height: 2px;
    width: 80%;
    margin: 25px auto;
}

.serviceIntro {
    font-size: 18pt;
    width: 80%;
    margin-bottom: 10px;
}

.serviceSub {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    margin: 50px 0;
}

.tileWrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14pt;
    width:32%;
    height: auto;
    padding: 50px;
    border: 2px solid #333;
    border-radius: 10px;;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);

}

.tile:hover {
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.tile img {
    width: 80%;
    object-fit: cover;
}

.tile p {

}

.tile span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500;
    margin: 25px;
}

.tile ul {
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    color: black;
}

.tile .seeMore {
    margin-top: 15px;
}
